//duoshuo
if theme.duoshuo
  - var duoshuo = theme.duoshuo
if config.duoshuo
  - var duoshuo = config.duoshuo

//disqus
if  theme.disqus
  - var disqus = theme.disqus
if config.disqus
  - var disqus = config.disqus

//baidu_search
if  theme.baidu_search
  - var baidu_search = theme.baidu_search
if config.baidu_search
  - var baidu_search = config.baidu_search

//google_search
if  theme.google_search
  - var google_search = theme.google_search
if config.google_search
  - var google_search = config.google_search

//swiftype
if  theme.swiftype
  - var swiftype = theme.swiftype
if config.swiftype
  - var swiftype = config.swiftype

//self_search
if  theme.self_search
  - var self_search = theme.self_search
if config.self_search
  - var self_search = config.self_search

//tinysou
if  theme.tinysou
  - var tinysou = theme.tinysou
if config.tinysou
  - var tinysou = config.tinysou

//fancybox
if  theme.fancybox
  - var fancybox = theme.fancybox
if config.fancybox
  - var fancybox = config.fancybox

//google_analytics
if  theme.google_analytics
  - var google_analytics = theme.google_analytics
if config.google_analytics
  - var google_analytics = config.google_analytics

//baidu_analytics
if  theme.baidu_analytics
  - var baidu_analytics = theme.baidu_analytics
if config.baidu_analytics
  - var baidu_analytics = config.baidu_analytics

//shareto 分享到
if  theme.shareto
  - var shareto = theme.shareto
if config.shareto
  - var shareto = config.shareto

//busuanzi 点击量
if  theme.busuanzi
  - var busuanzi = theme.busuanzi
if config.busuanzi
  - var busuanzi = config.busuanzi
